@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(164,106,185,1) 35%, rgba(0,212,255,1) 100%);  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  color: #e40008;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}

.nav-link li {
  font-size: 20px;
  font-weight: 500;
  color: #5e6392;
  margin: 0 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-direction: left;
}


.nav-link li:hover {
  color: #c50007;
  transform: scale(1.1);
}

.content {
  margin-top: 20vh;
  text-align: center;
}

.content h1 {
  font-size: 72px;
  font-weight: 600;
  color: #ee0008;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}
